In [32]:
import pandas as pd
%matplotlib inline

In [33]:
a_df = pd.read_csv('data/anime.csv')
a_df.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [34]:
a_df.shape

(12294, 7)

In [35]:
r_df = pd.read_csv('data/rating.csv')
r_df.head()

   user_id  anime_id  rating
0        1        20      -1
1        1        24      -1
2        1        79      -1
3        1       226      -1
4        1       241      -1

In [36]:
r_df.shape

(7813737, 3)

rate.csvは各ユーザーがどのアニメにどの評価で入れたかを表している。今回は使用しない。

欠損値の確認

In [44]:
a_df.isnull().any(axis=0)

anime_id    False
name        False
genre        True
episodes    False
rating       True
members     False
Music       False
ONA         False
OVA         False
Special     False
TV          False
dtype: bool

genre列、type列を整数値にする。

In [38]:
a_df['type'].unique()

array(['Movie', 'TV', 'OVA', 'Special', 'Music', 'ONA', nan], dtype=object)

In [39]:
dummy1 = pd.get_dummies(a_df['type'], drop_first=True)
dummy1

       Music  ONA  OVA  Special  TV
0          0    0    0        0   0
1          0    0    0        0   1
2          0    0    0        0   1
3          0    0    0        0   1
4          0    0    0        0   1
...      ...  ...  ...      ...  ..
12289      0    0    1        0   0
12290      0    0    1        0   0
12291      0    0    1        0   0
12292      0    0    1        0   0
12293      0    0    0        0   0

[12294 rows x 5 columns]

In [40]:
dummy2 = pd.get_dummies(a_df['genre'].str.split(',',expand=True).stack()).groupby(level=0).sum()
dummy2

,Adventure,Cars,Comedy,Dementia,Demons,Drama,Ecchi,Fantasy,Game,Harem,...,Shoujo,Shounen,Slice of Life,Space,Sports,Super Power,Supernatural,Thriller,Vampire,Yaoi
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12289,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12290,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12291,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12292,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12293,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

今回はgenre列は使用しない。

In [41]:
a_df = pd.concat([a_df, dummy1], axis=1)

In [42]:
a_df = a_df.drop(['type'], axis=1)

In [43]:
#xcol = ['episodes', 'members']
#x = a_df[xcol]
#t = a_df['rating']