In [115]:
import pandas as pd
%matplotlib inline

In [116]:
a_df = pd.read_csv('data/anime.csv')
a_df.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [117]:
a_df.shape

(12294, 7)

In [118]:
r_df = pd.read_csv('data/rating.csv')
r_df.head()

   user_id  anime_id  rating
0        1        20      -1
1        1        24      -1
2        1        79      -1
3        1       226      -1
4        1       241      -1

In [119]:
r_df.shape

(7813737, 3)

rate.csvは各ユーザーがどのアニメにどの評価で入れたかを表している。今回は使用しない。  
genre列は使用しない。

欠損値の確認

In [120]:
a_df.isnull().any(axis=0)

anime_id    False
name        False
genre        True
type         True
episodes    False
rating       True
members     False
dtype: bool

In [121]:
a_df.isnull().sum()

anime_id      0
name          0
genre        62
type         25
episodes      0
rating      230
members       0
dtype: int64

欠損値を含む列/行を削除する

In [122]:
a_df = a_df.drop('genre', axis=	1)

In [123]:
a_df = a_df.dropna(how='any', axis=0)
a_df.head()

   anime_id                              name   type episodes  rating  members
0     32281                    Kimi no Na wa.  Movie        1    9.37   200630
1      5114  Fullmetal Alchemist: Brotherhood     TV       64    9.26   793665
2     28977                          Gintama°     TV       51    9.25   114262
3      9253                       Steins;Gate     TV       24    9.17   673572
4      9969                     Gintama&#039;     TV       51    9.16   151266

genre列、type列を整数値にする。

In [124]:
a_df['type'].unique()

array(['Movie', 'TV', 'OVA', 'Special', 'Music', 'ONA'], dtype=object)

In [125]:
dummy1 = pd.get_dummies(a_df['type'], drop_first=True)
dummy1

       Music  ONA  OVA  Special  TV
0          0    0    0        0   0
1          0    0    0        0   1
2          0    0    0        0   1
3          0    0    0        0   1
4          0    0    0        0   1
...      ...  ...  ...      ...  ..
12289      0    0    1        0   0
12290      0    0    1        0   0
12291      0    0    1        0   0
12292      0    0    1        0   0
12293      0    0    0        0   0

[12064 rows x 5 columns]

In [126]:
a_df = pd.concat([a_df, dummy1], axis=1)

In [127]:
a_df = a_df.drop(['type'], axis=1)

In [128]:
a_df.head()

,anime_id,name,episodes,rating,members,Music,ONA,OVA,Special,TV
0,32281,Kimi no Na wa.,1,9.37,200630,0,0,0,0,0
1,5114,Fullmetal Alchemist: Brotherhood,64,9.26,793665,0,0,0,0,1
2,28977,Gintama°,51,9.25,114262,0,0,0,0,1
3,9253,Steins;Gate,24,9.17,673572,0,0,0,0,1
4,9969,Gintama&#039;,51,9.16,151266,0,0,0,0,1

特徴量と正解データを選択する。

In [129]:
xcol = ['episodes', 'members', 'Music', 'ONA', 'OVA', 'Special', 'TV']
x = a_df[xcol]
t = a_df['rating']
x.head()

  episodes  members  Music  ONA  OVA  Special  TV
0        1   200630      0    0    0        0   0
1       64   793665      0    0    0        0   1
2       51   114262      0    0    0        0   1
3       24   673572      0    0    0        0   1
4       51   151266      0    0    0        0   1